[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/NERDTree/start/nerdtree"]
	path = vim/pack/NERDTree/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/CtrlP/start"]
	path = vim/pack/CtrlP/start
	url = https://github.com/ctrlpvim/ctrlp.vim.git
